.cell{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid #b4afaf;
    display: grid;
}
.cell-alive{
    background: #000000;
}
.cell-dead{
    background: #ffffff;
}
body{
    background: rgb(86,81,171);
    background: linear-gradient(90deg, rgba(86,81,171,1) 0%, rgba(175,165,114,1) 35%, rgba(82,135,145,1) 100%);
}